@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root {
    --color-principal: #EAEDED;
    --color-navbar: #fff;
}
*{
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: var(--color-principal);
    margin: 0;

}

.header {
     background-color: var(--color-navbar); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}


.navbar {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

#logo-img {
    height: 50px;
    margin-right: 10px;
}

.logo h1{
    font-size: 1rem;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-container input[type="text"] {
    padding: 0.2rem;
    font-size: 100%;
    padding: 10px 40px 10px 20px; /* Espacio para el icono de búsqueda */
    border: 1px solid #ccc;
    border-radius: 25px 0 0 25px;
    margin-right: 0.5rem;
    width: 100%;
    max-width: 200px;
    border-radius: 20px;
}

.search-container button {
    padding: 0.5rem;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
    

}

.search-container select {
    padding: 0.2rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 0.5rem;
}

#close-btn {
    display: none;
    
}
#search-btn:hover{
    background-color:#DCD3C5;
}
#close-btn:hover{
    background-color:#DCD3C5;
}

.autocompletado_C {
    width: 60%; 
    height: auto;
    position: absolute;
    top: 55px;
    left:30%;
    z-index: 10;
}

@media (max-width: 620px) {
    .autocompletado_C {
        width: 65%;
        left: 5%;
    }
}

@media (min-width: 1224px) {
    .autocompletado_C {
        width: 40%;
        left: 55%;
    }
}

  
.rest{
    width: 30px;
    height: 30px;
    background-image: url('../img/reset.jfif');
    background-size: 100% 100%;
    background-position: center;
    border-radius: 60px;
    border: none;
}

@media (max-width: 680px) {
    .search-container input {
        display: none;
    }

    #close-btn {
        display: none;
    }
    
}


